.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 100%;
  width: 100%;
}

.Home-logo {
  height: 75%;
  width: 75%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  font-size: 250px;
  font-family: Optima;
}

.signup-form-container {
  background-color: #282c34;
  color: #09d3ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
header .container {
  position: relative;
  z-index: 2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.user-profile {
  background-color: #282c34;
  color: #09d3ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.row {
  margin: 0 -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  flex-flow: row-reverse;
}

.row1 {
  margin: 0 -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  flex-flow: row-reverse;
  flex-flow: wrap;
  align-items: center;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-bottom: 20px;
}

img {
  background-color: black;
  width: 200%;
  height: 200%;
}

.current-workout {
  color: #09d3ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  background-color: black;
  width: 100%;
}

.experience-level {
  margin: auto;
  border-radius: 3px 0 0 3px;
  width: auto;
  top: 50%;
  margin-top: -22px;
}
